body {
    background-image: url(../img/bg-image.jpg);
    background-size: cover;
}

#page {
    max-width: 800px;
    box-sizing: border-box;
    padding: 24px;
    background-color: #F0E8C2;
    margin: 0 auto;
    border-radius: 24px;
}