* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alice", serif;
    line-height: 150%;
}

body {
    background-image: url(../img/bg-image.jpg);
    background-size: cover;
}

#page {
    max-width: 800px;
    padding: 24px;
    background-color: #F0E8C2;
    margin: 0 auto;
    border-radius: 24px;
}

main {
    padding: 24px;
}

section + section {
    margin-top: 24px;
}

#about p + p {
    margin-top: 12px;
}

h1,h2 {
    margin-bottom: 4px;
    color: #291B1A;
}

h1 {
    line-height: 140%;
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

p {
    color: #573A37;
}

ul,li {
    margin-left: 0.6rem;
}