* {
    font-family: "Alice", serif;
    line-height: 150%;
}

body {
    background-image: url(../img/bg-image.jpg);
    background-size: cover;
}

#page {
    max-width: 800px;
    box-sizing: border-box;
    padding: 24px;
    background-color: #F0E8C2;
    margin: 0 auto;
    border-radius: 24px;
}

h1,h2 {
    color: #291B1A;
}

h1 {
    line-height: 140%;
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

p {
    color: #573A37;
}